<h1>{{ 'administration.edit.title' | translate }}</h1>
<form [formGroup]="form">
  <rpt-text
    [form]="form"
    [required]="true"
    label="{{ 'administration.edit.title_of' | translate }}"
    [(value)]="title"
    fieldName="title"
  ></rpt-text>
  <br />
  <mat-divider></mat-divider>
  <br />
  <rpt-textarea
    [form]="form"
    label="{{ 'administration.edit.description' | translate }}"
    [(value)]="description"
    fieldName="description"
  ></rpt-textarea>
  <br />
  <br />
  <app-category-select
    [form]="form"
    [(value)]="categoryId"
    fieldName="categoryId"
  ></app-category-select>
  <br />
  <mat-divider></mat-divider>
  <div
    formArrayName="items"
    *ngFor="let item of form?.get('items')['controls']; let i = index"
  >
    <br />
      <mat-icon style="float: right;" (click)="removeTrainingsessionsplit(i)">delete</mat-icon>
    <div [formGroupName]="i">
      <mat-form-field>
        <input
          matInput
          type="number"
          required="required"
          placeholder="{{ 'administration.edit.add_distance' | translate }}"
          formControlName="distance"
        /><br />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="number"
          required="required"
          formControlName="breaktime"
          placeholder="{{ 'administration.edit.add_break' | translate }}"
        />
      </mat-form-field>
    </div>
    <br />
    <mat-divider></mat-divider>
  </div>
</form>
<br />
<button mat-raised-button (click)="addTrainingsessionsplit()">
  {{ 'administration.edit.add' | translate }}
</button>
<br />
<br />

<button mat-raised-button color="primary" (click)="update()">
  {{ 'administration.edit.save' | translate }}
</button>
<br />
<br />
<button mat-raised-button (click)="navigateBack()">
  {{ 'administration.edit.back' | translate }}
</button>
