<!-- <form class="form-signin" (ngSubmit)="login(userName.value, password.value, remember.checked)">

  <div class="row">
    <h2 style="text-align: center;" class="form-signin-heading" i18n>login.title</h2>

    <label for="inputUsername" class="sr-only" i18n>login.username</label>
    <input #userName id="inputUsername" class="form-control" i18n-placeholder="login.username" required="" appFocus>

    <label for="inputPassword" class="sr-only" i18n>login.password</label>
    <input #password id="inputPassword" type="password" class="form-control" i18n-placeholder="login.password" required="">

    <label for="checkboxSave" class="form-check-label">
      <input id="checkboxSave" #remember type="checkbox" class="form-check-input">
      <span i18n>login.rememberme</span>
    </label>

    <button class="btn btn-lg btn-primary btn-block" type="submit" i18n id="login-component-submit">login.submit</button>
  </div>

</form> -->