<h1>Rechnungen</h1>

<a mat-raised-button color="primary" routerLink="add">
  {{ 'bills.add.title' | translate }}
</a>

<table mat-table id="rechnungenTable" [dataSource]="rechnungen" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>{{ 'bills.table.id' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.rechnungId }}</td>
  </ng-container>

  <ng-container matColumnDef="orderId">
    <th mat-header-cell *matHeaderCellDef>{{ 'bills.table.job_nr' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.auftragId }}</td>
  </ng-container>

  <ng-container matColumnDef="remark">
    <th mat-header-cell *matHeaderCellDef>{{ 'bills.table.remark' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.bemerkung }}</td>
  </ng-container>

  <ng-container matColumnDef="performancePeriodStartDate">
    <th mat-header-cell *matHeaderCellDef>{{ 'bills.table.start_date' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      {{ formatDate(element.leistungsperiodeStartdatum) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="performancePeriodEndDate">
    <th mat-header-cell *matHeaderCellDef>{{ 'bills.table.end_date' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      {{ formatDate(element.leistungsperiodeEnddatm) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="hoursCharged">
    <th mat-header-cell *matHeaderCellDef>{{ 'bills.table.hours_calc' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.stundenVerrechnet }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>{{ 'bills.table.costs' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.betragExklMwst > 0">{{ element.betragExklMwst }} {{ 'bills.table.chf' | translate }}</span>
      <span *ngIf="!element.betragExklMwst">{{ 'bills.table.none' | translate }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="clientId">
    <th mat-header-cell *matHeaderCellDef>{{ 'bills.table.client_id' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="'/clients/details/' + element.kundeId">{{ element.kundeId }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef>
      <!-- {{ 'bills.table.edit' | translate }} -->
    </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <a class="delete-link" (click)="deleteBill(element.rechnungId, i)"
        ><mat-icon matTooltip="{{ 'bills.table.delete' | translate }}"
          >delete</mat-icon
        ></a
      ><span class="edit-link" [routerLink]="'edit/' + element.rechnungId"
        ><mat-icon matTooltip="{{ 'bills.table.edit' | translate }}">edit</mat-icon></span
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<br />
<br />

<a mat-raised-button color="primary" routerLink="add">
  {{ 'bills.add.title' | translate }}
</a>
