<mat-form-field>
  <mat-label *ngIf="label">{{label}}</mat-label>
  <mat-select [formControl]="form.controls[fieldName]">
    <mat-option
      [value]="0"
      >{{ 'administration.category_select.short' | translate }}</mat-option
    >
    <mat-option
      [value]="1"
      >{{ 'administration.category_select.middle' | translate }}</mat-option
    >
    <mat-option
      [value]="2"
      >{{ 'administration.category_select.long' | translate }}</mat-option
    >
  </mat-select>
  <mat-error *ngIf="form.controls[fieldName].hasError('required')"
    >{{'validation.required' | translate}}</mat-error
  >
</mat-form-field>
