<div class="form-group">
  <mat-form-field [formGroup]="form" class="fc-input">
    <input type="password" matInput [required]="required" [formControlName]="fieldName" [placeholder]="label" autocomplete="off" />
    <mat-error *ngIf="form.controls[fieldName].hasError('minlength') && !form.controls[fieldName].hasError('required')" i18n>validation.password</mat-error>
    <mat-error *ngIf="form.controls[fieldName].hasError('required')">{{'validation.required' | translate}}</mat-error>
  </mat-form-field>
</div>

<div *ngIf="repeat"class="form-group">
  <mat-form-field [formGroup]="form" class="fc-input">
    <input type="password" matInput [required]="required" [formControlName]="repeatFieldName"
        i18n-placeholder placeholder="labels.passwordRepeat" autocomplete="off" />
    <mat-error *ngIf="form.controls[repeatFieldName].hasError('repeat') && !form.controls[repeatFieldName].hasError('required')" i18n>validation.passwordMismatch</mat-error>
    <mat-error *ngIf="form.controls[repeatFieldName].hasError('required')">{{'validation.required' | translate}}</mat-error>
  </mat-form-field>
</div>
