<h1>{{"bills.add.title" | translate}}</h1>

<form [formGroup]="form">
  <rpt-text [form]="form" fieldName="auftragId" label="{{'bills.table.job_nr' | translate}}"></rpt-text>
  <rpt-text [form]="form" fieldName="belegNr" label="{{'bills.table.check_nr' | translate}}"></rpt-text>
  <rpt-text [form]="form" fieldName="stundenVerrechnet" label="{{'bills.table.hours_calc' | translate}}"></rpt-text>
  <rpt-text [form]="form" fieldName="stundenSpaeterVerrechenbar" label="{{'bills.table.hours_later' | translate}}"></rpt-text>
  <rpt-text [form]="form" fieldName="stundenNichtVerrechenbar" label="{{'bills.table.hours_not_able' | translate}}"></rpt-text>
  <rpt-text [form]="form" fieldName="kundeId" label="{{'bills.table.client_id' | translate}}"></rpt-text>
  <rpt-text [form]="form" fieldName="betragExklMwst" label="{{'bills.table.costs' | translate}}"></rpt-text>
  <rpt-text [form]="form" fieldName="slaBetriebsLizenz" label="{{'bills.table.sla_licence' | translate}}"></rpt-text>
  <rpt-date [form]="form" fieldName="leistungsperiodeStartdatum" label="{{'bills.table.start_date' | translate}}"></rpt-date>
  <rpt-date [form]="form" fieldName="leistungsperiodeEnddatum" label="{{'bills.table.end_date' | translate}}"></rpt-date>
  <rpt-date [form]="form" fieldName="rechnungsdatum" label="{{'bills.table.check_date' | translate}}"></rpt-date>
  <rpt-textarea [form]="form" fieldName="bemerkung" label="{{'bills.table.remark' | translate}}"></rpt-textarea>
</form>

<button mat-raised-button class="cancel" color="secondary" [routerLink]="'/bills'">
  {{ 'bills.add.cancel' | translate }}
</button>
<button mat-raised-button color="primary" (click)="addBill()">
  {{ 'bills.add.title' | translate }}
</button>
