<mat-card class="example-card ranking-card">
  <mat-card-header>
    <div mat-card-avatar><mat-icon>directions_run</mat-icon></div>
    <mat-card-title>{{ training?.title }}</mat-card-title>
    <mat-card-subtitle>{{ date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="training?.comment">{{ training?.comment }}</mat-card-content>
  <mat-card-content *ngIf="!training?.comment">{{
    'performances.no_comment' | translate
  }}</mat-card-content>
  <mat-card-actions style="text-align: right">
    <button mat-raised-button primary (click)="navigateToEdit()">
      {{ 'trainings.edit' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="navigateToDetails()">
      {{ 'trainings.details' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
