<div class="col-md-12">
  <mat-card class="login-card">
    {{ 'login.welcome' | translate }}
    <form
      *ngIf="!isLoggedIn"
      [formGroup]="form"
      (ngSubmit)="form.valid && onSubmit()"
      novalidate
    >
      <div class="form-group">
        <label for="username">{{ 'login.username' | translate }}</label>
        <rpt-text
          [form]="form"
          type="text"
          class="form-control"
          name="username"
          fieldName="username"
          [(value)]="username"
          required
        ></rpt-text>
      </div>
      <div class="form-group">
        <label for="password">{{ 'login.password' | translate }}</label>
        <rpt-password
          [form]="form"
          type="password"
          class="form-control"
          name="password"
          [(value)]="password"
          fieldName="password"
          required
          minlength="6"
        ></rpt-password>
      </div>
      <div class="form-group">
        <button mat-raised-button primary (click)="onSubmit()">
          {{ 'login.title' | translate }}
        </button>
      </div>
      <br />
      <div class="form-group">
        <button mat-raised-button secondary (click)="navigateToRegistration()">
          {{ 'login.register' | translate }}
        </button>
      </div>
      <br />
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
          Login fehlgeschlagen: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">Logged in as {{ roles }}.</div>
  </mat-card>
</div>
