<mat-drawer-container class="container" autosize>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ 'title' | translate }}</span>
    <span class="example-spacer"></span>
    <!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with more_vert icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button> -->
  </mat-toolbar>
  <mat-drawer #drawer opened="false" class="sidenav" mode="side">
    <div class="logo">
      <a routerLink="/dashboard">
        <img src="../assets/ffhs.svg" alt="Deimos_Logo" />
      </a>
    </div>
    <mat-selection-list #menu [multiple]="false">
      <mat-list-option routerLink="/dashboard">
        {{ 'dashboard.title' | translate }}
      </mat-list-option>
      <mat-list-option routerLink="/login">
        {{ 'login.title' | translate }}
      </mat-list-option>
      <mat-list-option routerLink="/performances">
        {{ 'performances.title' | translate }}
      </mat-list-option>
      <mat-list-option routerLink="/trainings">
        {{ 'trainings.title' | translate }}
      </mat-list-option>
      <mat-list-option routerLink="/administration">
        {{ 'administration.title' | translate }}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <div class="content" autosize>
    <div class="inner-content">
      <router-outlet></router-outlet></div>
  </div>
  <mat-toolbar color="secondary">
    <mat-toolbar-row class="footer">
      <span>API-Version 0.0.1-SNAPSHOT</span>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-drawer-container>
