<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="over"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <div class="sidenav-content">
      <div class="logo">
        <a routerLink="/dashboard">
          <img src="./../assets/ffhs.svg" alt="FFHS_Logo" />
        </a>
      </div>
      <mat-selection-list #menu [multiple]="false">
        <mat-list-option *ngIf="!isLoggedIn()" routerLink="/signup" (click)="sidenav.toggle()">
          {{ 'registration.title' | translate }}
        </mat-list-option>
        <mat-list-option *ngIf="isLoggedIn()" routerLink="/dashboard" (click)="sidenav.toggle()">
          {{ 'dashboard.title' | translate }}
        </mat-list-option>
        <mat-list-option *ngIf="isLoggedIn()" routerLink="/performances" (click)="sidenav.toggle()">
          {{ 'performances.title' | translate }}
        </mat-list-option>
        <mat-list-option *ngIf="isLoggedIn()" routerLink="/trainings" (click)="sidenav.toggle()">
          {{ 'trainings.title' | translate }}
        </mat-list-option>
        <mat-list-option *ngIf="isLoggedIn() && isAdmin()" routerLink="/administration" (click)="sidenav.toggle()">
          {{ 'administration.title' | translate }}
        </mat-list-option>
        <mat-list-option *ngIf="isLoggedIn()" (click)="logout()">
          {{ 'logout.title' | translate }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ 'title' | translate }}</span>
      <span class="example-spacer"></span>
      <!-- <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with more_vert icon"
      >
        <mat-icon>more_vert</mat-icon>
      </button> -->
    </mat-toolbar>

    <div class="content">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- <mat-toolbar color="secondary">
      <mat-toolbar-row class="footer">
        <span>API-Version 1.0.0</span>
      </mat-toolbar-row>
    </mat-toolbar> -->
  </mat-sidenav-content>
</mat-sidenav-container>
