.container {
  width: 100%;
  min-height: 100%;

  .example-spacer {
    flex: 1 1 auto;
  }
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 128px);
  align-items: flex-start;
  justify-content:flex-start;

  .inner-content {
    width: 100%;
    padding: 10px;
  }
}

.sidenav {
  min-width: 400px;

  .logo {
    padding: 20px;
  }
}
