<div class="col-md-12">
  <h1>{{ 'registration.title' | translate }}</h1>
  <mat-card class="login-card">
    <form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()" novalidate>
      <div class="form-group">
        <label for="firstname">{{ 'registration.firstname' | translate }}</label>
        <rpt-text
          [form]="form"
          type="text"
          class="form-control"
          name="firstname"
          fieldName="firstname"
          [(value)]="firstname"
          required
        ></rpt-text>
      </div>
      <div class="form-group">
        <label for="lastname">{{ 'registration.lastname' | translate }}</label>
        <rpt-text
          [form]="form"
          type="text"
          class="form-control"
          name="lastname"
          fieldName="lastname"
          [(value)]="lastname"
          required
        ></rpt-text>
      </div>
      <div class="form-group">
        <label for="email">{{ 'registration.email' | translate }}</label>
        <rpt-email
          [form]="form"
          type="email"
          class="form-control"
          name="email"
          [(value)]="email"
          fieldName="email"
          required
        ></rpt-email>
      </div>
      <div class="form-group">
        <label for="username">{{ 'registration.username' | translate }}</label>
        <rpt-text
          [form]="form"
          type="text"
          class="form-control"
          name="username"
          fieldName="username"
          [(value)]="username"
          required
        ></rpt-text>
      </div>
      <div class="form-group">
        <label for="password">{{ 'registration.password' | translate }}</label>
        <rpt-password
          [form]="form"
          type="password"
          class="form-control"
          name="password"
          [(value)]="password"
          fieldName="password"
          required
          minlength="6"
        ></rpt-password>
      </div>
      <div class="form-group">
        <app-role-select
          [form]="form"
          fieldName="role"
          [(value)]="role"
        ></app-role-select>
      </div>
      <br/>
      <div class="form-group">
        <button mat-raised-button color="primary" (click)="onSubmit()">
          {{ 'registration.register' | translate }}
        </button>
      </div>
      <br />
      <div class="form-group">
        <button mat-raised-button secondary (click)="navigateToLogin()">
          {{ 'registration.to_login' | translate }}
        </button>
      </div>
      <br />
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="isSignUpFailed">
          Login fehlgeschlagen: {{ errorMessage }}
        </div>
      </div>
    </form>
  </mat-card>
</div>
