<h1>{{"mandates.title" | translate }}</h1>

<table
  mat-table
  id="auftraegeTable"
  [dataSource]="auftraege"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>{{ 'mandates.table.id' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="aktiv">
    <th mat-header-cell *matHeaderCellDef>{{ 'mandates.table.active' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.aktiv }}</td>
  </ng-container>

  <ng-container matColumnDef="bezeichnung">
    <th mat-header-cell *matHeaderCellDef>{{ 'mandates.table.bezeichnung' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.bezeichnung }}</td>
  </ng-container>

  <ng-container matColumnDef="kunde">
    <th mat-header-cell *matHeaderCellDef>{{ 'mandates.table.client' | translate }}</th>
    <td mat-cell *matCellDef="let element"><a [routerLink]="'/clients/details/' + element.kundeId">{{ element.kundeId }}</a></td>
  </ng-container>

  <ng-container matColumnDef="jira_Project_id">
    <th mat-header-cell *matHeaderCellDef>{{ 'mandates.table.jira' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.jira_project_id }}</td>
  </ng-container>

  <ng-container matColumnDef="startdatum">
    <th mat-header-cell *matHeaderCellDef>{{ 'mandates.table.start_date' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ formatDate(element.startdatum) }}</td>
  </ng-container>

  <ng-container matColumnDef="enddatum">
    <th mat-header-cell *matHeaderCellDef>{{ 'mandates.table.end_date' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ formatDate(element.enddatum) }}</td>
  </ng-container>

  <ng-container matColumnDef="stunden_Schaetzung_min">
    <th mat-header-cell *matHeaderCellDef>{{ 'mandates.table.hours_min' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.stundenSchaetzungMin }}</td>
  </ng-container>

  <ng-container matColumnDef="stunden_Schaeztung_max">
    <th mat-header-cell *matHeaderCellDef>{{ 'mandates.table.hours_max' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.stundenSchaetzungMax }}</td>
  </ng-container>

  <ng-container matColumnDef="stunden_Schaezung_erwartet">
    <th mat-header-cell *matHeaderCellDef>{{ 'mandates.table.hours_est' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.stundenSchaetzungErwartet }}</td>
  </ng-container>

  <ng-container matColumnDef="stunden_Vertrag">
    <th mat-header-cell *matHeaderCellDef>{{ 'mandates.table.hours_contract' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.stundenVertrag }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<br/>
<button mat-raised-button color="primary">{{"mandates.add.title" | translate}}</button>
