<h1>{{ 'dashboard.title' | translate }}</h1>
<h3>{{ 'dashboard.welcome' | translate }}</h3>
<br />
<mat-divider></mat-divider>
<br />
<h4>{{ 'dashboard.developers' | translate }}</h4>
<br />
<mat-divider></mat-divider>
<br />
<h1 style="text-align: center">
  <mat-icon>directions_run</mat-icon><mat-icon>directions_run</mat-icon
  ><mat-icon>directions_run</mat-icon><mat-icon>directions_run</mat-icon
  ><mat-icon>directions_run</mat-icon><mat-icon>directions_run</mat-icon
  ><mat-icon>directions_run</mat-icon><mat-icon>directions_run</mat-icon
  ><mat-icon>directions_run</mat-icon><mat-icon>directions_run</mat-icon>
</h1>
