<h1>{{ 'trainings.add' | translate }}</h1>
<form [formGroup]="form">
  <app-select-training
    [form]="form"
    [label]="'trainings.choose' | translate"
    fieldName="chosenTraining"
    [trainingSessions]="trainingSessions"
    [(value)]="chosenTraining"
  ></app-select-training>
  <br />
  <div *ngIf="chosenTraining">
    <h2>{{ chosenTraining.title }}</h2>
    <rpt-date
      [form]="form"
      fieldName="date"
      [(value)]="date"
      label="{{ 'trainings.date' | translate }}"
    ></rpt-date>
    <rpt-textarea
      [form]="form"
      fieldName="comment"
      [(value)]="comment"
      label="{{ 'trainings.comment' | translate }}"
    ></rpt-textarea>
    <mat-divider></mat-divider>
    <br />
    <p>{{ 'trainings.introduction' | translate }}</p>
    <div *ngFor="let split of chosenTraining.trainingsessionsplits; let i = index">
      <rpt-number
        [form]="form"
        fieldName="{{ i }}"
        label="{{ split.distance }} m"
        [(value)]="temporarySplits[i]"
      ></rpt-number>
      <a
        >{{ 'trainings.break' | translate }} {{ split.breaktime }}
        {{ 'trainings.seconds' | translate }}</a
      >
      <br />
      <mat-divider></mat-divider>
    </div>
    <br />
    <button mat-raised-button color="primary" (click)="save()">
      {{ 'trainings.save' | translate }}
    </button>
  </div>
  <br />
  <br />
  <button mat-raised-button (click)="navigateBack()">
    {{ 'trainings.cancel' | translate }}
  </button>
</form>
