<h1>{{"performances.title" | translate}}</h1>
Liste mit allen Trainings inkl. Datum
<br/><br/>
<mat-list>
  <mat-list-item>
    <mat-icon mat-list-icon>directions_run</mat-icon>
    <div mat-line>Training 1</div>
    <div mat-line>Datum</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>directions_run</mat-icon>
    <div mat-line>Training 2</div>
    <div mat-line>Datum</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>directions_run</mat-icon>
    <div mat-line>Training 3</div>
    <div mat-line>Datum</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>directions_run</mat-icon>
    <div mat-line>Training 4</div>
    <div mat-line>Datum</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>directions_run</mat-icon>
    <div mat-line>Training 5</div>
    <div mat-line>Datum</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>directions_run</mat-icon>
    <div mat-line>Training 6</div>
    <div mat-line>Datum</div>
  </mat-list-item>
  
  </mat-list><mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>directions_run</mat-icon>
      <div mat-line>Training 1</div>
      <div mat-line>Datum</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>directions_run</mat-icon>
      <div mat-line>Training 2</div>
      <div mat-line>Datum</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>directions_run</mat-icon>
      <div mat-line>Training 3</div>
      <div mat-line>Datum</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>directions_run</mat-icon>
      <div mat-line>Training 4</div>
      <div mat-line>Datum</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>directions_run</mat-icon>
      <div mat-line>Training 5</div>
      <div mat-line>Datum</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>directions_run</mat-icon>
      <div mat-line>Training 6</div>
      <div mat-line>Datum</div>
    </mat-list-item>
    
    </mat-list><mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>directions_run</mat-icon>
        <div mat-line>Training 1</div>
        <div mat-line>Datum</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>directions_run</mat-icon>
        <div mat-line>Training 2</div>
        <div mat-line>Datum</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>directions_run</mat-icon>
        <div mat-line>Training 3</div>
        <div mat-line>Datum</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>directions_run</mat-icon>
        <div mat-line>Training 4</div>
        <div mat-line>Datum</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>directions_run</mat-icon>
        <div mat-line>Training 5</div>
        <div mat-line>Datum</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>directions_run</mat-icon>
        <div mat-line>Training 6</div>
        <div mat-line>Datum</div>
      </mat-list-item>
      
      </mat-list>


<mat-card *ngFor="let session of trainingsessions" (click)="navigateToRanking(session.id)">
  <mat-card-subtitle>{{session.title}}</mat-card-subtitle>
  <mat-card-actions align="end">
    <button mat-button primary>zum Ranking navigieren</button>
  </mat-card-actions>
</mat-card>
<br/>
<mat-card *ngFor="let session of trainingsessions" (click)="navigateToRanking(session.id)">
  <mat-card-subtitle>{{session.title}}</mat-card-subtitle>
  <mat-card-actions align="end">
    <button mat-button primary>zum Ranking navigieren</button>
  </mat-card-actions>
</mat-card>
<br/>
<mat-card *ngFor="let session of trainingsessions" (click)="navigateToRanking(session.id)">
  <mat-card-subtitle>{{session.title}}</mat-card-subtitle>
  <mat-card-actions align="end">
    <button mat-button primary>zum Ranking navigieren</button>
  </mat-card-actions>
</mat-card>
<!--
<mat-nav-list>
  <mat-list-item routerLink="ranking/1">
    <p>training 1</p>
  </mat-list-item>
  <mat-list-item routerLink="ranking/2">
    <p>training 2</p>
  </mat-list-item>
  <mat-list-item routerLink="ranking/3">
    <p>training 3</p>
  </mat-list-item>
</mat-nav-list>
 -->
